.estiloCaja{
    text-align: center;
    width: 300px;
    margin-top: 10px;
    margin-left: 30px;
}
.estiloCaja2{
    height: 40px;
    text-align: center;
    width: 350px;
    margin-top: 32px;
}
.caja1{
    margin-left: 380px;
}
.tb{
    margin-top: 50px;
}
.tbCentro{
    justify-content: center;
}
.btn1{
  margin-right: 10px;
  margin-top: 10px;
}
.btn2{
  margin-top: 10px;
}
.img{
    padding-left: 30px;
}
.tabla{
    padding-top: 22px;
}
.formulario{
    margin-top: 60px;
}
